/* Підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
body {
  font-family: "Causten", sans-serif;
  font-size: 18px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;

  /*FLEX*/
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1; /*Дозволяємо збільшуватись main*/
}

/*=======================================================*/

[class*="__container"] {
  max-width: 1270px;
  padding: 0px 15px;
  margin: 0 auto;
}

.header {
  padding: 34px 0px 31px 0px;
  border-bottom: 1px solid #dbdbdb;
  background-color: #fff;
}

.header__container {
  display: flex;
  flex-wrap: wrap;
}

.header--sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
}

.header__search {
  display: inline-flex;
  padding: 12px 48px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex: 0 0 184px;
  border-radius: 8px;
  background-color: #f6f6f6;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

.header__search:hover {
  background-color: rgb(207, 201, 201);
}

.header__language {
  position: relative;
  flex: 0 0 286px;
}

.header__buttons {
  display: flex;
  column-gap: 30px;
  align-items: center;
}

/*=======================================================*/

.search__text {
  color: #807d7e;
  font-size: 18px;
  font-weight: 500;
}

.language__content-link {
  color: #333;
  font-size: 18px;
  font-weight: 400;
  padding: 10px 0px;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 85%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.5s;
  text-transform: capitalize;
}

.header__language:hover .language__content-link {
  background-size: 85% 2px;
  color: rgb(95, 95, 95);
}

.language__content-link::after {
  content: "";
  width: 10px;
  height: 12px;
  background: url(../img/language-icon.svg) center no-repeat;
  margin-left: 19px;
}

.header__language:hover .language__content-link::after {
  transform: rotate(-90deg);
}

.language__list {
  position: absolute;
  left: 0;
  top: 100%;
  padding-top: 10px;
  width: 160px;
  border-radius: 8px;
  background-color: #f6f6f6;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s;
  border: 1px solid #000;
}

.language__item {
  position: relative;
}

.language__link {
  padding: 10px;
}

.language__link:hover {
  text-decoration: underline;
}

.header__language:hover .language__list {
  visibility: visible;
  opacity: 1;
}

.button__left {
  background-color: #8a33fd;
  color: #fff;
  border-radius: 8px;
  transition: background-color 0.4s ease;
  font-size: 18px;
  font-weight: 500;
}
.button__left:hover {
  background-color: #6f00ff;
}

.button__right {
  color: #8a33fd;
  border-radius: 8px;
  border: 1px solid #3c4242;
  transition: all 0.4s ease;
  font-size: 18px;
  font-weight: 500;
}

.button__right:hover {
  background-color: #8a33fd;
  color: #fff;
  border: 1px solid transparent;
}

.style {
  padding: 12px 48px;
  font-weight: 500;
  border-radius: 8px;
}

/*=======================================================*/

.page__cards {
  padding: 50px 0px;
  /* margin-bottom: ; */
}

.cards__title {
  margin: 0px 0px 70px 0px;
}

.title {
  color: #3c4242;
  font-size: 34px;
  font-family: "Coresansc";
  font-weight: 600;
  line-height: 33.5px; /* 98.529% */
  letter-spacing: 0.68px;
  text-transform: capitalize;
  padding-left: 20px;
  position: relative;
}

.title::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background-color: #8a33fd;
}

/*=======================================================*/

.products {
  display: flex;
  margin: 0 -25px;
  flex-wrap: wrap;
  row-gap: 50px;
}
.products__column {
  padding: 0px 25px;
  flex: 0 0 25%; /*25% - чверть(чотири зображення)*/
}
.item-product {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.item-product__image {
  flex: 1 1 auto;
  overflow: hidden;
}
.item-product__image:not(:last-child) {
  margin-bottom: 16px;
}

.item-product__image img {
  max-width: 100%;
  transform: scale(1.01);
  transition: all 0.5s ease;
}

.item-product__image img:hover {
  transform: scale(1.02);
}
.item-product__body {
  display: flex;
  flex: 1 1 auto;
}
.item-product__content {
  flex: 1 1 auto;
  /* display: flex;
  flex-direction: column; */
}
.item-product__title {
  /* flex: 1 1 auto; */
  color: #2a2f2f;
  font-size: 17.875px;
  font-weight: 700;
  line-height: 27.93px; /* 156.25% */
  letter-spacing: -0.715px;
}
.item-product__title:not(:last-child) {
  margin-bottom: 14px;
}
.item-product__link-title:hover {
  text-decoration: underline;
}
.item-product__text {
  color: #7f7f7f;
  font-size: 13.407px;
  font-weight: 500;
  line-height: 27.93px; /* 208.333% */
  letter-spacing: -0.536px;
}
.item-product__link {
  flex: 0 0 18px;
  background: url(../img/arrow.svg) center no-repeat;
  align-self: flex-start;
  min-height: 30px;
}
.item-product__link:hover {
  transform: scale(1.05);
}

/*=======================================================*/

.wishlist {
  padding: 80px 0px;
}

.wishlist__title {
  margin-bottom: 50px;
}

.wishlist__title--style {
  color: #3c4242;
  font-family: "Coresansc";
  font-size: 28px;
  font-weight: 600;
  line-height: 33.5px; /* 119.643% */
  letter-spacing: 0.56px;
}

.wishlist__container {
  max-width: 933px;
}

.wishlist__items {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.wishlist__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 36px;
  position: relative;
}
.item__close-cross {
  flex: 0 0 22px;
  transition: all 0.35s linear;
}
.item__close-cross:hover {
  transform: scale(1.1);
}
.item__image {
  flex: 0 0 110px;
  transform: scale(1.05);
  transition: all 0.3s linear;
}
.item__image:hover {
  transform: scale(1.1);
}
.item__body {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  align-items: center;
}
.item__text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.text__one,
.text__two,
.text__three {
  color: #3c4242;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.44px;
}
.text__two > span,
.text__three > span {
  color: #807d7e;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.44px;
}
.wishlist__price {
  color: #807d7e;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.44px;
}
.item__link-button {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  flex-shrink: 0;
  padding: 14px 28px;
  border-radius: 8px;
  background: #8a33fd;
}
.item__link-button:hover {
  background-color: #6f00ff;
  border-radius: 8px;
  transition: background-color 0.4s ease;
}

.wishlist__item::after {
  position: absolute;
  left: 0;
  bottom: -30px;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #edeef2;
}

/*=======================================================*/
.orders {
  padding: 50px 0px;
}
.orders__container {
  max-width: 925px;
}
.orders__items {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.orders__item {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.item-order {
  position: relative;
}
.item-order::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 100%;
  height: 1px;
  background-color: #edeef2;
}
.item-order__date {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 28px 47px;
}
.date-order {
  border-radius: 8px;
  background-color: #f6f6f6;
}
.date-order__title {
  color: #3c4242;
  font-size: 20px;
  font-weight: 600;
}
.date-order__content-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.date-order__text {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.date-order__text p {
  color: #807d7e;
  font-size: 14px;
  font-weight: 600;
}
.date-order__text span {
  color: #bebcbd;
  font-size: 14px;
  font-weight: 400;
}
.date-order__text:last-child p {
  text-align: end;
}
.item-order__card {
  display: flex;
  column-gap: 25px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.card-order__image {
  flex: 0 0 96px;
  overflow: hidden;
}
.card-order__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 10px;
}
.card-order__content-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.card-order__title {
  color: #3c4242;
  font-size: 16px;
  font-weight: 600;
}

.card-order__text {
  color: #3c4242;
  font-size: 14px;
  font-weight: 600;
}

.card-order__text:last-of-type {
  color: #807d7e;
  font-size: 14px;
  font-weight: 600;
}

.card-order__text span {
  color: #bebcbd;
  font-size: 14px;
  font-weight: 600;
}

.card-order__link {
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  background-color: #8a33fd;
  align-self: center;
  transition: background-color 0.4s ease;
  padding: 14px 28px;
  color: #fff;
  flex-shrink: 0;
}

.card-order__link:hover {
  background-color: #6f00ff;
}

/*=======================================================*/

.footer{
  background-color: #dbdbdb;
}

.footer__title{
  padding: 10px;
  color: #2a2f2f;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}