*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format("woff2"), url("../fonts/Causten-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format("woff2"), url("../fonts/Causten-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-SemiBold.woff2") format("woff2"), url("../fonts/Causten-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Bold.woff2") format("woff2"), url("../fonts/Causten-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Core Sans C";
  src: url("../fonts/Coresansc-65bold.woff2") format("woff2"), url("../fonts/Coresansc-65bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-size: 18px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  /*FLEX*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

/*=======================================================*/
[class*=__container] {
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  border-bottom: 1px solid #bebcbd;
}
.header--header--fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100px;
  position: relative;
  z-index: 2;
}
@media (max-width: 1163px) {
  .header__container {
    min-height: 50px;
    padding: 10px 15px;
    gap: 20px;
  }
}
@media (max-width: 426px) {
  .header__container {
    gap: 10px;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}
.header__form {
  position: relative;
  z-index: 5;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.menu__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 75px;
     -moz-column-gap: 75px;
          column-gap: 75px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1163px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    overflow: auto;
    width: 100%;
    height: 100%;
    padding: 120px 15px 30px 15px;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: #dfdfdf;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 35px;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 70px;
    z-index: 3;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: rgb(198, 198, 198);
  }
  .menu-open .menu__body, .menu-open .menu__body::before {
    left: 0;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 10px;
}
@media (max-width: 1163px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    row-gap: 28px;
  }
}
@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    color: #3c4242;
  }
}
.menu__link {
  font-family: "Causten";
  color: #807d7e;
  font-size: 22px;
  font-weight: 500;
}
@media (max-width: 1163px) {
  .menu__link {
    font-size: 28px;
    color: #000;
  }
}
.menu__item--active .menu__link {
  font-family: "Causten";
  color: #3c4242;
  font-size: 22px;
  font-weight: 700;
}
@media (max-width: 1163px) {
  .menu__item--active .menu__link {
    font-size: 28px;
    color: #000;
    font-weight: 500;
  }
}

.form__input {
  width: 267px;
  padding: 12px 20px 12px 45px;
  border-radius: 8px;
  background-color: #f6f6f6;
  z-index: 2;
}
.form__input::-webkit-input-placeholder {
  font-family: "Causten";
  color: #807d7e;
  font-size: 16px;
  font-weight: 400;
}
.form__input::-moz-placeholder {
  font-family: "Causten";
  color: #807d7e;
  font-size: 16px;
  font-weight: 400;
}
.form__input:-ms-input-placeholder {
  font-family: "Causten";
  color: #807d7e;
  font-size: 16px;
  font-weight: 400;
}
.form__input::-ms-input-placeholder {
  font-family: "Causten";
  color: #807d7e;
  font-size: 16px;
  font-weight: 400;
}
.form__input::placeholder {
  font-family: "Causten";
  color: #807d7e;
  font-size: 16px;
  font-weight: 400;
}
.form__search-image {
  position: absolute;
  top: 31.2222%;
  left: 5%;
  z-index: 3;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  position: relative;
  z-index: 5;
}
@media (max-width: 610px) {
  .buttons {
    gap: 8px;
  }
}
.buttons__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.buttons__icon img {
  width: 100%;
  height: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
  aspect-ratio: 44/44;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .buttons__icon:hover img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 1163px) {
  .icon-menu {
    width: 30px;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu::before, .icon-menu::after,
  .icon-menu span {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
}

/*=================================================================*/
.page {
  padding: 100px 0px;
}
@media (max-width: 600px) {
  .page {
    padding: 50px 0px;
  }
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 37px;
     -moz-column-gap: 37px;
          column-gap: 37px;
}
@media (max-width: 860px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 37px;
  }
}
@media (max-width: 600px) {
  .hero__container {
    row-gap: 20px;
  }
}
.hero__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 23px;
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
}
.hero__slider::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f6f6f6;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  z-index: -1;
}
@media (max-width: 860px) {
  .hero__slider {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.hero__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  -webkit-column-gap: 74px;
     -moz-column-gap: 74px;
          column-gap: 74px;
}
@media (max-width: 860px) {
  .hero__body {
    -webkit-column-gap: 50px;
       -moz-column-gap: 50px;
            column-gap: 50px;
  }
}
@media (max-width: 600px) {
  .hero__body {
    row-gap: 40px;
  }
}
@media (max-width: 450px) {
  .hero__body {
    row-gap: 30px;
  }
}
.hero__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 520/785;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider__image {
  max-width: 68px;
}
.slider__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 68/68;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 4.54px;
  border-radius: 9.072px;
}
.slider__image--border {
  border: 0.756px solid #3c4242;
  border-radius: 12.096px;
}
.slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
@media (max-width: 860px) {
  .slider__buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (max-width: 860px) {
  .slider__button--left {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
@media (max-width: 860px) {
  .slider__button--right {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 35px;
}
@media (max-width: 860px) {
  .content {
    row-gap: 22px;
  }
}
.content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
  color: #807d7e;
  font-family: "Causten";
  font-weight: 500;
}
@media (max-width: 600px) {
  .content__list {
    font-size: 20px;
  }
}
.content__title {
  color: #3c4242;
  font-family: "Core Sans C";
  font-size: 34px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: 0.68px;
}
@media (max-width: 860px) {
  .content__title {
    font-size: 28px;
  }
}
@media (max-width: 600px) {
  .content__title {
    font-size: 22px;
  }
}
.content__buttons {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 37px;
}
.content__buttons::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 1px;
  background-color: #bebcbd;
}
@media (max-width: 600px) {
  .content__buttons {
    padding-bottom: 27px;
  }
}
.content__button {
  padding: 12px 40px;
  border-radius: 8px;
  background-color: #8a33fd;
  color: #fff;
  text-align: center;
  font-family: "Causten";
  font-weight: 600;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}
@media (any-hover: hover) {
  .content__button:hover {
    background-color: #6c1cd5;
  }
}
@media (min-width: 601px) and (max-width: 740px) {
  .content__button {
    padding: 12px 30px;
  }
}
@media (max-width: 375px) {
  .content__button {
    padding: 12px 20px;
  }
}
.content__button-price {
  padding: 12px 40px;
  border-radius: 8px;
  color: #3c4242;
  text-align: center;
  font-family: "Causten";
  font-weight: 600;
  border: 1px solid #3c4242;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
@media (any-hover: hover) {
  .content__button-price:hover {
    background-color: #8a33fd;
    color: #fff;
    border: 1px solid transparent;
  }
}
@media (min-width: 601px) and (max-width: 740px) {
  .content__button-price {
    padding: 12px 30px;
  }
}
@media (any-hover: hover) {
  .list__item--hover a:hover {
    text-decoration: underline;
  }
}
.list__item--border {
  border-radius: 50%;
  border: 1px solid black;
}
.list span {
  width: 5px;
  min-height: 16px;
  background: url("../img/left-stroke.svg") 0 0 no-repeat;
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}
.rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 12px;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
  color: #807d7e;
  font-family: "Causten";
  font-weight: 500;
}
@media (min-width: 753px) {
  .rating {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.rating__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.rating__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.rating__comment-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
}
.rating__comment-text {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.size__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}
.size__select {
  color: #3f4646;
  font-family: "Causten";
  font-weight: 600;
}
@media (any-hover: hover) {
  .size__select:hover {
    color: #807d7e;
  }
}
.size__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  color: #807d7e;
  font-family: "Causten";
  font-weight: 600;
}
.size__link::after {
  content: "";
  width: 17px;
  height: 14px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17px;
          flex: 0 0 17px;
  background: url("../img/link__arrow.svg") 0 0 no-repeat;
}
@media (any-hover: hover) {
  .size__link:hover {
    color: #3f4646;
  }
}
.size__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.color__title {
  color: #3f4646;
  font-family: "Causten";
  font-weight: 600;
  margin-bottom: 25px;
}
.color__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
.color__list .list__item--border {
  padding: 4px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: dense;
  gap: 20px;
}
.categories__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.categories__product img {
  cursor: pointer;
  width: 100%;
  height: 100%;
  aspect-ratio: 44/44;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .categories__product img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.categories__product a {
  color: #3c4242;
  font-family: "Causten";
  font-weight: 500;
}
.categories__product a::after {
  content: "";
  width: 0;
  height: 2px;
  display: block;
  position: relative;
  top: 0;
  left: 50%;
  background-color: #3c4242;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media (any-hover: hover) {
  .categories__product a:hover::after {
    width: 100%;
    left: 0;
  }
}
@media (max-width: 600px) {
  .categories__product a {
    font-size: 22px;
  }
}