// Скидання стилів
@import "_reset.scss";

//  Підключення шрифтів
@import "_fonts.scss";

// Основні
body {
  font-size: 18px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;

  /*FLEX*/
  display: flex;
  flex-direction: column;
}

.wrapper {
  > main {
    flex-grow: 1; // Дозволяємо збільшуватись main
  }
}

/*=======================================================*/

[class*="__container"] {
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

$CaustenFont: "Causten";
$CoreSansFont: "Core Sans C";

.header {
  background-color: #fff;
  border-bottom: 1px solid #bebcbd;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
  }
  // .header__container
  &__container {
    display: flex;
    gap: 30px;
    align-items: center;
    min-height: 100px;
    position: relative;
    z-index: 2;
    @media (max-width: 1163px) {
      min-height: 50px;
      padding: 10px 15px;
      gap: 20px;
    }
    @media (max-width: 426px) {
      gap: 10px;
    }
  }

  // .header__logo
  &__logo {
    position: relative;
    z-index: 5;
  }
  // .header__form
  &__form {
    position: relative;
    z-index: 5;
  }
}
.menu {
  flex-grow: 1;
  flex-shrink: 1;
  // .menu__body
  &__body {
    display: flex;
    align-items: center;
    column-gap: 75px;
    justify-content: center;
    @media (max-width: 1163px) {
      position: fixed;
      top: 0;
      left: -100%;
      overflow: auto;
      width: 100%;
      height: 100%;
      padding: 120px 15px 30px 15px;
      transition: left 0.3s;
      background-color: #dfdfdf;
      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 70px;
        z-index: 3;
        transition: left 0.3s;
        background-color: rgb(198, 198, 198);
      }
      .menu-open &,
      .menu-open &::before {
        left: 0;
      }
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      row-gap: 35px;
    }
  }

  // .menu__list
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;
    @media (max-width: 1163px) {
      flex-direction: column;
      text-align: right;
      row-gap: 28px;
    }
  }
  // .menu__item
  &__item {
    @media (any-hover: hover) {
      &:hover .menu__link {
        color: #3c4242;
      }
    }
  }
  // .menu__link
  &__link {
    font-family: $CaustenFont;
    color: #807d7e;
    font-size: 22px;
    font-weight: 500;
    @media (max-width: 1163px) {
      font-size: 28px;
      color: #000;
    }
  }
  // .menu__item--active
  &__item--active {
    .menu__link {
      font-family: $CaustenFont;
      color: #3c4242;
      font-size: 22px;
      font-weight: 700;
      @media (max-width: 1163px) {
        font-size: 28px;
        color: #000;
        font-weight: 500;
      }
    }
  }
}
.form {
  // .form__input
  &__input {
    width: 267px;
    padding: 12px 20px 12px 45px;
    border-radius: 8px;
    background-color: #f6f6f6;
    z-index: 2;
    &::placeholder {
      font-family: $CaustenFont;
      color: #807d7e;
      font-size: 16px;
      font-weight: 400;
      // padding-left: 20px;
    }
  }
  &__search-image {
    position: absolute;
    top: 31.2222%;
    left: 5%;
    z-index: 3;
  }
}
.buttons {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  z-index: 5;
  @media (max-width: 610px) {
    gap: 8px;
  }
  // .buttons__icon
  &__icon {
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      flex: 0 0 44px;
      aspect-ratio: 44 / 44;
      transition: transform 0.3s ease-in-out;
    }
    @media (any-hover: hover) {
      &:hover img {
        transform: scale(1.2);
      }
    }
  }
}

.icon-menu {
  display: none;
  @media (max-width: 1163px) {
    width: 30px;
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    &::before,
    &::after,
    span {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      left: 0;
      transition: all 0.3s;
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    & span {
      top: 50%;
      margin-top: -1px;
    }
    .menu-open & span {
      transform: scale(0);
    }
    .menu-open &::before {
      transform: rotate(-45deg);
      top: 50%;
      margin-top: -1px;
    }
    .menu-open &::after {
      transform: rotate(45deg);
      bottom: 50%;
      margin-bottom: -1px;
    }
  }
}

/*=================================================================*/

.page {
  padding: 200px 0px 30px 0px;
  @media (max-width: 1100px) {
    padding: 110px 0px;
  }
  // .page__hero

  &__hero {
  }
}
.hero {
  // .hero__container

  &__container {
    display: flex;
    column-gap: 37px;
    @media (max-width: 860px) {
      flex-direction: column;
      row-gap: 37px;
    }
    @media (max-width: 600px){
      row-gap: 20px;
    }
  }

  // .hero__slider

  &__slider {
    display: flex;
    flex-direction: column;
    gap: 23px;
    align-self: center;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #f6f6f6;
      filter: blur(5px);
      z-index: -1;
    }
    @media (max-width: 860px) {
      flex-direction: row;
    }
  }

  // .hero__body

  &__body {
    display: grid;
    // grid-template-columns: repeat(2, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    column-gap: 74px;
    @media (max-width: 860px) {
      column-gap: 50px;
    }
    @media (max-width: 600px) {
      row-gap: 40px;
    }
    @media (max-width: 450px) {
      row-gap: 30px;
    }
  }

  // .hero__image

  &__image {
    // max-width: 520px;
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 520 / 785;
      object-fit: cover;
    }
  }

  // .hero__content

  &__content {
  }
}
.slider {
  // .slider__image

  &__image {
    max-width: 68px;
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 68 / 68;
      object-fit: cover;
      padding: 4.54px;
      border-radius: 9.072px;
    }
  }

  // .slider__image--border

  &__image--border {
    border: 0.756px solid #3c4242;
    border-radius: 12.096px;
  }

  // .slider__button

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    @media (max-width: 860px) {
      flex-direction: row;
    }
  }

  &__button {
  }

  // .slider__button--top

  &__button--left {
    @media (max-width: 860px) {
      transform: rotate(-90deg);
    }
  }

  // .slider__button--bottom

  &__button--right {
    @media (max-width: 860px) {
      transform: rotate(-90deg);
    }
  }
}
.content {
  display: flex;
  flex-direction: column;
  row-gap: 35px;
  @media (max-width: 860px) {
    row-gap: 22px;
  }
  // @media (max-width: 600px){
  //   align-items: center;
  // }
  // .content__list

  &__list {
    display: flex;
    column-gap: 15px;
    color: #807d7e;
    font-family: $CaustenFont;
    font-weight: 500;
    @media (max-width: 600px) {
      font-size: 20px;
    }
  }

  // .content__title

  &__title {
    color: #3c4242;
    font-family: $CoreSansFont;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.68px;
    @media (max-width: 860px) {
      font-size: 28px;
    }
    @media (max-width: 600px){
      font-size: 22px;
    }
  }

  // .content__rating

  &__rating {
  }

  // .content__size

  &__size {
  }

  // .content__color

  &__color {
  }

  // .content__buttons

  &__buttons {
    position: relative;
    display: flex;
    gap: 25px;
    align-items: center;
    padding-bottom: 37px;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      width: 100%;
      height: 1px;
      background-color: #bebcbd;
    }
    @media (max-width: 600px){
      padding-bottom: 27px;
    }
  }

  // .content__button

  &__button {
    padding: 12px 40px;
    border-radius: 8px;
    background-color: #8a33fd;
    color: #fff;
    text-align: center;
    font-family: $CaustenFont;
    font-weight: 600;
    transition: background-color 0.3s ease-out;
    @media (any-hover: hover) {
      &:hover {
        background-color: #6c1cd5;
      }
    }
    @media (min-width: 601px) and (max-width: 740px){
      padding: 12px 30px;
    }
    @media (max-width: 375px){
      padding: 12px 20px;
    }
  }

  // .content__button-price

  &__button-price {
    padding: 12px 40px;
    border-radius: 8px;
    color: #3c4242;
    text-align: center;
    font-family: $CaustenFont;
    font-weight: 600;
    border: 1px solid #3c4242;
    transition: all 0.3s ease-out;
    @media (any-hover: hover) {
      &:hover {
        background-color: #8a33fd;
        color: #fff;
        border: 1px solid transparent;
      }
    }
    @media (min-width: 601px) and (max-width: 740px){
      padding: 12px 30px;
    }
    
  }

  // .content__categories

  &__categories {
  }
}
.list {
  // .list__item

  &__item {
  }

  &__item--hover a {
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__item--border {
    border-radius: 50%;
    border: 1px solid black;
  }

  & span {
    width: 5px;
    min-height: 16px;
    background: url("../img/left-stroke.svg") 0 0 no-repeat;
    transform: translateY(2px);
  }

  // .list__start

  &__start {
  }
}
.rating {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 12px;
  column-gap: 25px;
  color: #807d7e;
  font-family: $CaustenFont;
  font-weight: 500;
  @media (min-width: 753px){
    flex-wrap: nowrap;
  }
  // .rating__list

  &__list {
    display: flex;
    column-gap: 10px;
    align-items: center;
  }

  // .rating__content

  &__content {
    display: flex;
    align-items: center;
    column-gap: 15px;
  }

  // .rating__comment-img

  &__comment-img {
    flex: 0 0 20px;
  }

  // .rating__comment-text

  &__comment-text {
    flex-shrink: 0;
  }
}
.size {
  // .size__select

  &__links {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
  }

  &__select {
    color: #3f4646;
    font-family: $CaustenFont;
    font-weight: 600;
    @media (any-hover: hover) {
      &:hover {
        color: #807d7e;
      }
    }
  }

  // .size__link

  &__link {
    display: inline-flex;
    align-items: center;
    gap: 15px;
    color: #807d7e;
    font-family: $CaustenFont;
    font-weight: 600;
    &::after {
      content: "";
      width: 17px;
      height: 14px;
      flex: 0 0 17px;
      background: url("../img/link__arrow.svg") 0 0 no-repeat;
    }
    @media (any-hover: hover) {
      &:hover {
        color: #3f4646;
      }
    }
  }

  // .size__list

  &__list {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
}
.color {
  // .color__title

  &__title {
    color: #3f4646;
    font-family: $CaustenFont;
    font-weight: 600;
    margin-bottom: 25px;
  }

  // .color__list

  &__list {
    display: flex;
    align-items: center;
    column-gap: 20px;

    & .list__item--border {
      padding: 4px;
    }
  }
}
.categories {
  display: grid;
  //grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-flow: dense;
  gap: 20px;
  // .categories__product

  &__product {
    display: flex;
    align-items: center;
    gap: 15px;
    img {
      cursor: pointer;
      width: 100%;
      height: 100%;
      aspect-ratio: 44 / 44;
      object-fit: cover;
      transition: transform 0.3s;
      @media (any-hover: hover) {
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    a {
      color: #3c4242;
      font-family: $CaustenFont;
      font-weight: 500;
      &::after {
        content: "";
        width: 0;
        height: 2px;
        display: block;
        position: relative;
        top: 0;
        left: 50%;
        background-color: #3c4242;
        transition: all 0.4s;
      }
      @media (any-hover: hover) {
        &:hover {
          &::after {
            width: 100%;
            left: 0;
          }
        }
      }
      @media (max-width: 600px){
        font-size: 22px;
      }
    }
  }
}

