/* Підключення шрифтів */
@import url("fonts.css");

/* Скидання стилів */
@import url("reset.css");

/* Основні стилі */
body {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  padding: 15px 0px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;

  /*FLEX*/
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1; /*Дозволяємо збільшуватись main*/
}

/*=======================================================*/

[class*="__container"] {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0px 15px;
}

.title-contact {
  max-width: 431px;
  margin: 0 auto 40px;
  text-align: center;
}
.title-contact__first {
  display: inline-flex;
  gap: 6px;
  color: #37393f;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin: 0px 0px 15px 0px;
  align-items: center;
}
.title-contact__first::before {
  content: "";
  width: 12px;
  height: 12px;
  flex: 0 0 12px;
  background-color: #40ddb6;
}
.title-contact__second {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21;
  text-transform: capitalize;
}

/*=======================================================*/

.contact {
  margin-bottom: 100px;
}

.contact__form {
  text-align: center;
}

.form-contact__body {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 28px;
}
.item-body:not(:last-child) {
  margin-bottom: 50px;
}
.item-body__card {
  flex: 1 1 591px;
}
.item-body__card--style{
  flex: 1 1 100%;
}
.style {
  width: 100%;
}

.item-body__textarea {
  width: 100%;
}
.style::placeholder {
  color: #37393f;
  font-weight: 400;
  transition: opacity 0.3s;
}
.style:focus::placeholder {
  opacity: 0;
}
.item-body__textarea {
  min-height: 222px;
}
.item-body__textarea::placeholder {
  color: #37393f;
  font-weight: 400;
  transition: opacity 0.3s;
}
.item-body__textarea:focus::placeholder{
  opacity: 0;
}
.style--bc {
  border: 1px solid #ddd;
  background: #f8f8f8;
  min-height: 65px;
  padding: 0px 0px 0px 40px;
  border-radius: 0 !important;
}
.item-body__textarea--style {
  padding: 22px 0px 0px 40px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  resize: vertical;
  border-radius: 0 !important;
}

.form-contact__button {
  padding: 21px 61px 22px 61px;
  transition: background-color 0.4s ease-in;
  text-align: center;
}

.form-contact__button:hover {
  background-color: #3340b4;
}

.form-contact__button--style {
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #6b77e5;
}

/*=======================================================*/

.page__info {
  margin-bottom: 100px;
}

.info__container {
  max-width: 925px;
}
.info__title {
  margin-bottom: 50px;
}
.title-info__first {
  color: #3c4242;
  font-family: "Coresansc", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.5px; /* 119.643% */
  letter-spacing: 0.56px;
  margin-bottom: 20px;
}
.title-info__second {
  color: #3c4242;
  font-family: "Coresansc", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 33.5px; /* 119.643% */
  letter-spacing: 0.56px;
  margin-bottom: 20px;
}

.form-info__body {
  display: flex;
  row-gap: 31px;
  flex-wrap: wrap;
  margin: 0 -21px;
}

.info-body__item--style {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  padding: 0 21px;
  gap: 10px;
}

.info-body__textarea--style {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  padding: 0 21px;
  gap: 10px;
}

.card {
  padding: 17.855px 22.319px;
}

.card::placeholder {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  transition: opacity 0.3s;
}

.card:focus::placeholder {
  opacity: 0;
}

.card--style {
  border-radius: 8px;
  background-color: #f6f6f6;
}

.info-body__label {
  color: #3c4242;
  font-family: "Causten", sans-serif;
  font-weight: 600;
  letter-spacing: 0.36px;
}

.info-body__textarea-item {
  width: 100%;
  padding: 17.855px 22.319px;
  min-height: 149px;
}
.info-body__textarea-item::placeholder {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: opacity 0.3s;
}
.info-body__textarea-item:focus::placeholder {
  opacity: 0;
}
.info-body__textarea-item--style {
  border-radius: 8px !important;
  background-color: #f6f6f6;
  resize: vertical;
}

.checkbox {
  flex: 0 0 100%;
}

.checkbox__item:not(:last-child) {
  margin-bottom: 15px;
}

.checkbox__item {
  position: relative;
}

.checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:checked + .checkbox__label::before {
  background: url(../img/check-mark.svg) center / cover no-repeat;
}

.checkbox__label {
  display: inline-flex;
  gap: 11px;
  cursor: pointer;
  align-items: center;
  transition: all 0.3s ease-in;
}

.checkbox__label--style {
  color: #3c4242;
  font-family: "Causten", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.checkbox__label:hover {
  color: #3f4f76;
}

.checkbox__label::before {
  content: "";
  width: 20px;
  height: 20px;
  flex: 0 0 20px;
  border: 3px solid #bebcbd;
  border-radius: 3px;
}

.checkbox__item--style {
  padding: 0 21px;
}

.info-body__buttons {
  padding: 0 21px;
  flex: 0 0 100%; /*Розтягую на всю ширину, щоб при побальшому додаванні об'єктів після кнопок, верстка не ламалась*/
}

.info-body__buttons button:not(:last-child){
  margin-right: 30px;
}

.info-body__first-button {
  padding: 12px 40px;
  border-radius: 8px;
  background-color: #8a33fd;
  color: white;
  transition: background-color 0.4s ease-in-out;
}
.info-body__first-button:hover {
  background-color: orangered;
}
.info-body__second-button {
  padding: 12px 40px;
  border-radius: 8px;
  background-color: #f6f6f6;
  color: #807d7e;
  transition: background-color 0.4s ease-in-out;
}
.info-body__second-button:hover {
  background-color: #8a33fd;
  color: white;
}

.info-body__list {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/*=======================================================*/

.check-out__container {
  max-width: 870px;
}
.check-out__title {
  margin-bottom: 50px;
}
.title-check__first {
  display: inline-flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.title-check__first--style {
  color: #3c4242;
  font-family: "Coresansc", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2; /* 119.643% */
  letter-spacing: 0.56px;
}
.title-check__first::before {
  content: "";
  width: 6px;
  height: 28px;
  flex: 0 0 6px;
  border-radius: 10px;
  background-color: #8a33fd;
  align-self: flex-start;
}
.title-check__second {
  color: #3c4242;
  font-family: "Coresansc", sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.52; /* 152.273% */
  letter-spacing: 0.44px;
}

.check-out__form {
  display: flex;
  flex-wrap: wrap;
  column-gap: 38px;
  row-gap: 28px;
  margin-bottom: 50px;
}
.form-check__item--check {
  display: flex;
  flex-direction: column;
  flex: 1 1 382px;
  gap: 12px;
}

.check-out__label {
  color: #3c4242;
  font-family: "Causten", sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.32px;
}

.check-out__input {
  width: 100%;
  padding: 16px 20px;
}

.check-out__input::placeholder {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.3s;
}

.check-out__input:focus::placeholder {
  opacity: 0;
}

.check-out__input {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.check-out__input--style {
  border-radius: 8px;
  background-color: #f6f6f6;
}
.form-check__item--check-2 {
  display: flex;
  flex-direction: column;
  flex: 1 1 246px;
  gap: 12px;
}

.form-check__item--check-phone {
  display: flex;
  flex-direction: column;
  flex: 0 1 382px;
  gap: 12px;
  margin-bottom: 13px;
}

.check-out__button {
  flex: 0 0 100%;
}

.button__style {
  padding: 16px 20px;
  border-radius: 8px;
  background-color: #8a33fd;
  color: #fff;
  text-align: center;
  font-family: "Causten";
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
}

.button__style:hover {
  background-color: orangered;
}

/*=======================================================*/

.address,
.method {
  margin-bottom: 60px;
}

.payment {
  margin-bottom: 50px;
}

.address__title {
  margin-bottom: 30px;
}

.title-address__first {
  color: #3c4242;
  font-family: "Coresansc";
  font-size: 22px;
  font-weight: 600;
  line-height: 1.52;
  letter-spacing: 0.44px;
  margin-bottom: 12px;
}

.title-address__second {
  color: #3c4242;
  font-family: "Causten", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.address__block {
  border-radius: 12px;
  background-color: #f6f6f6;
  padding: 13px 48px 13px 28px;
}

.radio {
  position: relative;
  padding: 25px 0px;
}

.radio__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  opacity: 0;
}

.address__radio:not(:last-child) {
  border-bottom: 1px solid #bebcbd;
}

.radio__input:checked + .radio__label::before {
  background: url(../img/radio_point.webp) 0 0 no-repeat;
  width: 18px;
  height: 18px;
  flex: 0 0 18px;
}

.radio__label {
  display: inline-flex;
  align-items: center;
  gap: 19px;
  cursor: pointer;
}

.label--style {
  color: #3c4242;
  font-family: "Causten", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.radio__label::before {
  content: "";
  width: 18px;
  height: 18px;
  flex: 0 0 18px;
  background: url(../img/radio_button.webp) 0 0 no-repeat;
}

/*=======================================================*/

.method__title {
  color: #3c4242;
  font-family: "Coresansc";
  font-size: 22px;
  font-weight: 600;
  line-height: 1.52;
  letter-spacing: 0.44px;
}

.method__title:not(:last-child) {
  margin-bottom: 30px;
}

.method__block {
  border-radius: 12px;
  background-color: #f6f6f6;
  padding: 13px 48px 13px 28px;
}

.method__item {
  padding: 25px 0px;
}

.method__item:not(:last-child) {
  border-bottom: 1px solid #bebcbd;
}

.method__row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 8px;
}

.method__text {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 16px;
  font-weight: 500;
}

/*=======================================================*/

.payment__title:not(:last-child) {
  margin-bottom: 30px;
}

.title-payment__first {
  color: #3c4242;
  font-family: "Coresansc";
  font-size: 22px;
  font-weight: 600;
  line-height: 1.52;
  letter-spacing: 0.44px;
  margin-bottom: 8px;
}

.title-payment__second {
  color: #3c4242;
  font-family: "Causten", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.payment__block {
  border-radius: 12px;
  background-color: #f6f6f6;
  padding: 20px 48px 20px 28px;
}

.payment__item {
  padding: 25px 0px;
}

.payment__item:not(:last-child) {
  border-bottom: 1px solid #bebcbd;
}

.radio__text {
  padding-left: 37px;
}

.payment__card {
  padding: 5px 23px 0 27px;
  margin-bottom: 30px;
}

.card {
  display: flex;
  gap: 12px 20px;
  flex-wrap: wrap;
}

.card__item {
  transition: all 0.4s ease-out;
  border-radius: 5px;
}

.card__item:hover {
  outline: 1px solid black;
  transform: scale(1.05);
}

.payment__card-form {
  display: flex;
  row-gap: 28px;
  column-gap: 30px;
  flex-wrap: wrap;
  padding: 0px 23px 0px 27px;
}

.form-card__item {
  flex: 1 1 337px;
}

.form-card__input {
  width: 100%;
  padding: 16px 20px;
  border-radius: 8px;
  border: 1px solid #3c4242;
}

.form-card__input::placeholder {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 14px;
  font-weight: 400;
  transition: opacity 0.3s;
}

.form-card__input:focus::placeholder {
  opacity: 0;
}

.radio__text {
  color: #3c4242;
  font-family: "Causten", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.form-card__item--button {
  position: relative;
}

.form-card__button {
  position: relative;
  bottom: 37px;
  left: 88%;
  width: 20px;
  height: 20px;
  background: url(../img/eye.svg) center no-repeat;
}

.page {
  margin-bottom: 30px;
}
