/*Підключення шрифтів*/
@import url("fonts.css");
/*Обнулення*/
@import url("reset.css");


/*===================================================*/

body {
  font-family: "Gabarito", sans-serif;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

/*===================================================*/

.header-container,
#bussiness,
#clothing,
#discover,
/* #shop, */
#homework,
.footer-container {
  margin: 0 auto;
  padding: 15px 20px;
}

#bussiness,
#clothing,
#discover,
#shop {
  margin-bottom: 100px;
}
/*===================================================*/

.header {
  border-bottom: 1px solid rgba(50, 50, 50, 0.455);
  background-image: url(../img/patern.jpg);
  margin-bottom: 100px;
}

.header-container {
  max-width: 1250px;
}

.header-list,
.header-list .item__list {
  display: inline-block;
  padding-top: 3px;
}

.header-logo {
  margin-right: 400px;
}

.header-list .item__list {
  font-size: 20px;
  line-height: 1.46;
  margin: 0px 30px 0px 0px;
}

/*===================================================*/

#bussiness {
  max-width: 710px;
}

.bussiness-header-title {
  display: inline-block;
  color: #37393f;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.bussiness-header__border {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: #40ddb6;
  margin-right: 6px;
}

.bussiness-header {
  margin-bottom: 16px;
}

.bussiness-title {
  max-width: 414px;
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.text {
  color: #7d7d7d;
  font-family: "Inter", sans-serif;
  line-height: 1.46;
  margin: 0px 0px 15px 0px;
}

.bussiness-list .item__list {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  line-height: 1.65;
  background: url(../img/List.svg) 0px 3px no-repeat;
  margin-bottom: 23px;
  padding-left: 35px;
  /*Надійність*/
  min-height: 30px;
}

.bussiness-list {
  margin-bottom: 43px;
}

.block-content-left {
  background: url(../img/left.svg) no-repeat;
}

.block-content-left,
.block-content-right {
  padding-left: 58px;
}

.block-content-right {
  background: url(../img/right.svg) no-repeat;
}

.left,
.right {
  display: inline-block;
  max-width: 295px;
  padding: 31px 32px 32px;
}

.left {
  outline: 1px solid #e3e3e3;
  margin-right: 21px;
}

.block-header {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 3px;
}
.block-sub-title {
  color: #7d7d7d;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 1.35;
}

.right {
  outline: 1px solid #e3e3e3;
}

.blocks {
  margin-bottom: 37px;
}

.about {
  display: inline-block;
  max-width: 184px;
  background-color: #6b77e5;
  padding: 21px 27px 22px;
  color: #fff;
}

.about a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
}

/*===================================================*/

#clothing {
  max-width: 1280px;
}

.clothing-title {
  font-family: "CoreSans-65Bold", sans-serif;
  font-size: 28px;
  color: #3c4242;
  line-height: 1.2;
  letter-spacing: 0.56px;
  background: url(../img/Rectangle.svg) 0px 2px no-repeat;
  padding: 0px 0px 0px 21px;
  margin-bottom: 30px;
}

.clothing-content {
  padding: 0px 0px 0px 25px; /*Внутрішній відступ від clothing*/
}

.clothing-sub-title {
  font-family: "CoreSans-65Bold", sans-serif;
  color: #807d7e;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.67;
  letter-spacing: 0.4px;
  margin: 0px 0px 25px 0px;
}

.text p {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 20px;
  line-height: 1.67;
  letter-spacing: 0.4px;
  margin: 0px 0px 20px 0px;
}
.text {
  margin-bottom: 25px;
}

.clothing-link {
  color: #807d7e;
  font-family: "Causten", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: 0.4px;
}

/*===================================================*/

#discover {
  max-width: 1320px;
}

.discover-header {
  max-width: 852px;
  text-align: center;
  margin: 0 auto 47px;
}

/* .cube {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #40ddb6;
  margin: 0px 6px 0px 0px;
} */

.discover-header-title {
  display: inline-block;
  color: #37393f;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  background: url(../img/cube.svg) 0px 4px no-repeat;
  padding: 0px 0px 0px 19px;
}
.discover-header-title,
.discover-header-sub-title {
  margin-bottom: 14px;
}

.discover-header-sub-title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21;
}

.discover-header p {
  color: #7d7d7d;
  font-family: "Inter", sans-serif;
  line-height: 1.46;
}

.discover-picture-up {
  margin-bottom: 58px;
}

.left-up,
.center-up,
.right-up {
  display: inline-block;
  width: 384px;
  vertical-align: top;
  margin: 0px 34px 0px 0px;
}

.left-image__01,
.center-image__02,
.right-image__03,
.left-image__04,
.center-image__05,
.right-image__06 {
  height: 501px;
  width: 100%;
  margin: 0px 0px 24px 0px;
}

.left-image__01 {
  background: url(../img/left_up.svg) center / cover no-repeat;
}

.center-image__02 {
  background: url(../img/center_up.svg) center / cover no-repeat;
}

.right-image__03 {
  background: url(../img/right_up.svg) center / cover no-repeat;
}

.picture-title {
  color: #37393f;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.27;
  margin: 0px 0px 10px 0px;
}

.date {
  color: #7d7d7d;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.46;
  background: url(../img/date.svg) no-repeat;
  padding: 0px 0px 0px 25px;
  /*Надійність*/
  min-height: 25px;
}

.left-image__04 {
  background: url(../img/left_down.svg) no-repeat;
}

.center-image__05 {
  background: url(../img/center_down.svg) no-repeat;
}

.right-image__06 {
  background: url(../img/right_down.svg) no-repeat;
}

/*===================================================*/

#shop {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
  color: #fff;
  margin-bottom: 100px;
}

.image-block {
  font-size: 0; /*Обнулення тексту*/
  border-radius: 10px;
  overflow: hidden;
}

.nature-image {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  background: url(../img/nature.svg) center / cover no-repeat;
  padding: 183px 74px 174px;
}

.guys-image {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  min-height: 645px;
  background: url(../img/guys.jpg) center top / cover no-repeat;
}

.nature-image h2 {
  font-family: "CoreSans-65Bold";
  font-size: 34px;
  font-weight: 700;
  line-height: 1.47;
  letter-spacing: 0.208px;
  margin-bottom: 30px;
}

.image__sub-title-text {
  font-family: "Causten";
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.link {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
  background-color: #fff;
  color: #37393f;
  padding: 12px 44px;
  border-radius: 8px;
}

/*===================================================*/

#homework{
  max-width: 1260px; /*1220*/
}

.homework-content{
  font-size: 0;
}

.homework-title{
  text-align: center;
  font-family: "Pacifico", sans-serif;
  font-size: 45px;
  line-height: 1.46;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.background-color{
  background-color: #40ddb6;
}

.background__text{
  font-size: 25px;
  line-height: 1.46;
  margin-bottom: 50px;
  color: chocolate;
}

/*===================================================*/

.background-image{
  margin-bottom: 50px;
}


.added{
  display: inline-block;
  width: 640px;
  height: 417px;
  background-image: url(../img/background-image.jpeg);
  margin: 0px 15px 0px 0px;
}

.image{
  display: inline-block;
  background-image: url(../img/background-image.jpeg);
}

.background-image-gradient{
  text-align: center;
  height: 250px;
  background: linear-gradient(90deg, rgba(213,191,77,1) 0%, rgba(247,97,236,1) 70%, rgba(121,202,255,1) 91%, rgba(11,207,254,1) 100%, rgba(0,212,255,1) 100%);
}

/*===================================================*/

.repeat{
  background-image: url(../img/background-image.jpeg);
  background-repeat: repeat; /*За замовченням*/
  margin-bottom: 50px;
}

.no-repeat{
  background-image: url(../img/background-image.jpeg);
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

.background__text h2{
  text-align: center;
  font-size: 25px;
  color: #40ddb6;
  margin: 0px 0px 10px 0px;
  line-height: 1.27;
  letter-spacing: 1.1px;
}

.repeat-x{
  background-image: url(../img/background-image.jpeg);
  background-repeat: repeat-x;
  margin-bottom: 50px;
}

.repeat-y{
  background-image: url(../img/background-image.jpeg);
  background-repeat: repeat-y;
}

/*===================================================*/

.background-position{
  background-image: url(../img/background-image.jpeg);
  background-repeat: no-repeat;
  background-position: 100px 40px; /*x,y*/
}

/*===================================================*/

.background-attachment{
  background-image: url(../img/like.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
}

/*===================================================*/

.size{
  background-image: url(../img/background-image.jpeg);
  background-repeat: no-repeat;
  background-size: 50%; /*Ширина, Висота*/
  margin: 0px 0px 35px 0px;
}

.contain{
  background-image: url(../img/background-image.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0px 0px 35px 0px;
}

.cover{
  background-image: url(../img/background-image.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

/*===================================================*/

.background p{
  background: url(../img/background-image.jpeg) right center / 200px no-repeat; /*color  image  position / size repeat atachment*/
  margin: 0px 0px 15px 0px;
}

.multi-background p{
  background: url(../img/background-image.jpeg) center / 200px no-repeat,
  linear-gradient(90deg, rgba(213,191,77,1) 0%, rgba(247,97,236,1) 70%, rgba(121,202,255,1) 91%, rgba(11,207,254,1) 100%, rgba(0,212,255,1) 100%) center / cover no-repeat;
}
