/*Обнулення*/
@import url("reset.css");

@import url("https://fonts.googleapis.com/css?family=Poppins:100,regular,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular,600,700&display=swap");

.title,
.sub-title {
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.27;
}

.title {
  color: #37393f;
  font-size: 30px;
}

.text p {
  color: #7d7d7d;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.46;
}

.sub-title {
  color: #6b77e5;
  font-size: 20px;
}

/*------------------------------------------------*/
.sub--title {
  color: #37393f;
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 700;
  line-height: 1.27;
}

.text .list{
  color: #7d7d7d;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 1.46;
}

/*
.title, 
.sub-title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 5px;
}

.text{
    text-indent: 50px;
}
*/
