@font-face{
    font-family: "Carade";
    src: url("../fonts/Carade.woff") format("woff"),
    url("../fonts/Carade.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
