/*Шрифт*/
@import url("fonts.css");

/*Обнулення*/
@import url("reset.css");

@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Poppins:wght@500&display=swap");

body {
  background-color: black;
  font-family: "Kanit", sans-serif;
  color: white;
  font-size: 20px;
}

.title h1 {
  font-family: "Carade", sans-serif;
  text-align: center;
  font-weight: 600;
  line-height: 1.46;
  font-size: 45px;
  text-shadow: 6px 6px 4px rgb(128, 0, 128);
  letter-spacing: 10px;
}
.title p {
  font-weight: 400;
  line-height: 1.46;
  font-size: 15px;
  text-shadow: -6px 6px 6px rgb(167, 167, 167);
  text-align: center;
  text-decoration: underline;
}
.title ul > li {
  text-decoration: underline;
  text-shadow: 2px 2px 4px teal;
}

#about-us h2 {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 400;
  line-height: 5;
  font-size: 35px;
  text-shadow: 1px 5px 7px aqua;
}

.text .text-p{
    text-indent: 15px;
}
.text span {
  font-style: italic;
  color: chocolate;
  text-indent: 5px;
}
.text .text-span {
  font-style: oblique;
}

#men-clothes h2 {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 400;
  line-height: 5;
  font-size: 35px;
  text-shadow: 1px 5px 7px yellow;
}

#women-clothes h2 {
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  letter-spacing: 5px;
  text-align: center;
  font-weight: 400;
  line-height: 5;
  font-size: 35px;
  text-shadow: 1px 5px 7px yellowgreen;
}

/*---------------------------------------------*/
.container{
    color: rgb(0, 138, 176);
}
.container a{
    text-decoration:line-through;
}
